---
import Layout from "@/layouts/Layout.astro"

import Briefcase from "@/components/icons/Briefcase.astro"
import Device from "@/components/icons/Device.astro"
import CodeIcon from "@/components/icons/Code.astro"
import Experience from "@/components/Experience.astro"
import Projects from "@/components/Projects.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
import TitleSection from "@/components/TitleSection.astro"
import Technologies from "@/components/Technologies.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import AboutMe from "@/components/AboutMe.astro"
import Certifications from "@/components/Certifications.astro"
import Certificated from "@/components/icons/Certificated.astro"
---

<Layout
  title="Porfolio de Gabriel W. Silva - Cursando Análisis de Sistemas Informáticos y Desarrollador Full Stack"
  description="Gabriel W. Silva - Cursando Análisis de Sistemas Informáticos y Desarrollador Full Stack">
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36" id="inicio">
      <Hero>
      </slot>
    </Hero>
    </SectionContainer>
    <div class="space-y-24">
      <SectionContainer id="experiencia">
        <TitleSection>
          <Briefcase class="size-8" />
          Experiencia laboral
        </TitleSection>
        <Experience />
      </SectionContainer>
      
      <SectionContainer id="proyectos">
        <TitleSection>
          <Device class="size-7" />
          Proyectos
        </TitleSection>
        <Projects />
      </SectionContainer>

      <!-- <SectionContainer id="tecnologias">
        <TitleSection>
          <CodeIcon class="size-7" />
          Conocimientos
        </TitleSection>
        <Technologies />
      </SectionContainer> -->

      <SectionContainer id="Certificados">
        <TitleSection>
          <Certificated class="size-7" />
          Certificados
        </TitleSection>
        <Certifications />
      </SectionContainer>

      <SectionContainer id="sobre-mi">
        <TitleSection>
          <ProfileCheck class="size-7" />
          Sobre mí
        </TitleSection>
        <AboutMe />
      </SectionContainer>
    </div>
  </main>
</Layout>
