---
const personalImageAlt = "Gabriel W. Silva de Araujo"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
import GitHubIcon from "@/components/icons/GitHub.astro"
import CVdownload from "@/components/icons/CVdownload.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full size-16"
      src="/gabriel.jpg"
      alt={personalImageAlt}
    />
    <a
      href="https://linkedin.com/in/gabriel-william-039b97306"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hola, soy Gabriel W. Silva de Araujo
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    <strong>Cursando Análisis de Sistemas Informáticos y Desarrollador Full Stack.</strong>
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="/Curriculo(GABRIEL).pdf" download="Curriculo(GABRIEL).pdf">
      <CVdownload class="size-4" />
      CV
    </SocialPill>
    <SocialPill href="https://linkedin.com/in/gabriel-william-039b97306">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/gabrielwsa">
      <GitHubIcon class="size-4" />
      GitHub
    </SocialPill>
    <SocialPill href="mailto:gabrielsilvadearaujo45@gmail.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
  </nav>
</div>
