<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="inline-flex items-center justify-center gap-2 px-4 py-2 text-gray-800 transition-all duration-300 bg-gray-100 border border-gray-300 rounded-full dark:bg-gray-800 dark:border-gray-600 dark:text-white focus-visible:ring-blue-500/80 text-md hover:bg-blue-500 hover:border-blue-500 hover:text-white dark:hover:bg-blue-500 dark:hover:border-blue-500 dark:hover:text-white group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:scale-95"
>
  <slot />
</a>
